:root {
    --blue-sky: #506DAF;
    --white-text: #CBCBCB;
    --accent-grey: #7B7B7B;
    --input-text: #656565;
    --grey-bg: #161616;
    --black-bg: #080808;
    --inactive-blue-sky: #212B42;
    --inactive-white-text: #5D6372;
    --hint-for-user-start-button: #936869;
}