.page_header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black-bg);
    z-index: 1000;
}

.back_button {
    display: flex;
    align-items: center;
}

.header_label {
    flex: 1;
    text-align: center;
    font-size: 16px;
}

.header_label_without_back_button {
    margin-left: 44px;
}

.header_label_without_menu_button {
    margin-right: 44px;
}
