.header {
    color: var(--blue-sky);
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 700;
}

.reminders_header {
    margin-top: 24px;
}

.reminders-divs-holder {
    display: inline-flex;
    flex-direction: row;
    gap: 16px;
}

.new-reminder-div {
    width: 100%;
    height: 100%;
    background-color: var(--grey-bg);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.new-reminder-link {
    display: block;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 20px;
    text-decoration: none;
}

.new-reminder-circle {
    width: 82px;
    height: 82px;
    margin-top: 12px;
    border-radius: 50%;
    background-color: var(--blue-sky);
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-reminder-text {
    margin-bottom: 12px;
    color: var(--accent-grey);
    font-weight: 500;
}

.one_time_reminders_holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    flex-direction: column;
    grid-row-gap: 16px;
    grid-column-gap: 32px;
}

.one_time_reminder_div {
    background-color: var(--grey-bg);
    border-radius: 12px;
    padding: 16px 12px;
    box-sizing: border-box;
}

.one_time_reminder_div_inner {
    display: flex;
    column-gap: 12px;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.one_time_reminder_text {
    flex-grow: 1;
}

.one_time_reminder_date_and_time {
    flex-shrink: 0;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.one_time_reminder_time, .one_time_reminder_date {
    color: var(--accent-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
